@import "./base.css";
/* @import "./laoding.css"; */
:root {
  --menu-active-color: #ff6900;
  --nav-background: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  --orange-background: #ffb937;
  --purple-background: #4e2bb9;
  --ctg-background: #4e2bb9;
  --blood-red-background: #dd2471;

  --sky-background: #828ef9;

  --search-active-border-color: 3px solid #c928f2;

  --footer-background: #111111;

  --hover-bgc-link-grey: #7b7b7b;
  --subscribe-bgc: red;

  --fixed-wdith: 1176px;
  --fixed-width: 1176px;

  --green-background: #e1a22d;

  --dashboard-background: #0a1727;

  --tr-background-on-hover: orange;
}

.py-2.login_backgrounImage {
  background-image: url("@/assets/image/login_register/login_background.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content; /* set the height of the container to fit the height of its content */
}

body.modal-open {
  overflow: hidden;
}

.nav-background-linear-gradient {
  background-image: var(--nav-background);
}

.orange-backgroundColor {
  background-color: var(--orange-background);
}

.purple_background_color {
  background-color: var(--purple-background);
}

.background-opacity-70percent-black {
  background-color: rgb(0, 0, 0, 0.7);
}

/* 
nav a.router-link-exact-active {
  color: #ff6900;
} */

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(212deg)
    brightness(105%) contrast(103%);
}
.filter-white-mO {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(212deg)
    brightness(105%) contrast(103%);
}
.filter-black {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(212deg)
    brightness(100%) contrast(120%);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
